#wa-comptext-jloc7b0k433deg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b0k433o6g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b0k433os0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b0k433pdk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b0l433fso {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-k9t8fd396s7l2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k9t8fd396s7l2g>.row>.clearfix {margin-bottom:0px;}
#wa-container-k9t8fd396s7l2g>.wa-container-vspacer {height:0px;}
#wa-row-ji4o2yu55eb21c {margin:0px 0px;}
#wa-row-ji4o2yu55eb21c>div {padding: 0px 0px;}
#wa-row-ji4o2yu55eb32o {margin:0px 0px;}
#wa-row-ji4o2yu55eb32o>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ji4o2yu55eb21c {margin:0px 0px;}
#wa-row-ji4o2yu55eb21c>div {padding: 0px 0px;}
#wa-row-ji4o2yu55eb32o {margin:0px 0px;}
#wa-row-ji4o2yu55eb32o>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ji4o2yu55eb21c {margin:0px 0px;}
#wa-row-ji4o2yu55eb21c>div {padding: 0px 0px;}
#wa-row-ji4o2yu55eb32o {margin:0px 0px;}
#wa-row-ji4o2yu55eb32o>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ji4o2yu55eb21c {margin:0px 0px;}
#wa-row-ji4o2yu55eb21c>div {padding: 0px 0px;}
#wa-row-ji4o2yu55eb32o {margin:0px 0px;}
#wa-row-ji4o2yu55eb32o>div {padding: 0px 0px;}
}
