#wa-compimage-ji4o239836xki8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jlocae5j430728 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#e0e0e0;}
#wa-compimage-padwrapper-ji4o239836xki8 {padding:0px 0px 0px 20px;}
#wa-compsubpage-ji4o23982k0b4o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#fc5c5e;background-color:#f8f8f8;padding:0px 0px 0px 0px;}
#wa-compsubpage-ji4o23982k0b4o>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-ji4o23982k0b4o>.wa-container-vspacer {height:0px;}
#wa-comptext-ji4o239836741k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:40px 0px 0px 20px;}
#wa-comptext-ji4o239836pvvc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 0px 0px 0px;}
#wa-comptext-ji4o239836qc74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 0px 0px 0px;}
#wa-comptext-ji4o239836qys0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-ji4o239836szrk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 0px 0px 0px;}
#wa-comptext-ji4o239836yen4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 0px 0px 0px;}
#wa-container-k9t58m7n49de48 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#fc5c5e;background-color:#f8f8f8;padding:0px 0px 0px 0px;}
#wa-container-k9t58m7n49de48>.row>.clearfix {margin-bottom:0px;}
#wa-container-k9t58m7n49de48>.wa-container-vspacer {height:0px;}
#wa-container-k9t58m8049dhz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k9t58m8049dhz4>.row>.clearfix {margin-bottom:0px;}
#wa-container-k9t58m8049dhz4>.wa-container-vspacer {height:0px;}
#wa-container-k9t58m8949dbsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k9t58m8949dbsw>.row>.clearfix {margin-bottom:0px;}
#wa-container-k9t58m8949dbsw>.wa-container-vspacer {height:0px;}
#wa-container-k9t58m8e49dcko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-k9t58m8e49dcko>.row>.clearfix {margin-bottom:0px;}
#wa-container-k9t58m8e49dcko>.wa-container-vspacer {height:0px;}
#wa-row-ji4o23982jqw5s {margin:0px 0px;}
#wa-row-ji4o23982jqw5s>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwgg {margin:0px 0px;}
#wa-row-ji4o23982jqwgg>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwls {margin:0px 0px;}
#wa-row-ji4o23982jqwls>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwr4 {margin:0px 0px;}
#wa-row-ji4o23982jqwr4>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwwg {margin:0px 0px;}
#wa-row-ji4o23982jqwwg>div {padding: 0px 0px;}
#wa-row-ji4o23989s6jk>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o23989s888>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
[id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default {background-color:#f8f8f8; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-brand, [id^=wa-compmenu-jlocacoo6ioa1s].navbar-nav li a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#777777;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#e7e7e7;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jlocacoo6ioa1s].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ji4o23982jqw5s {margin:0px 0px;}
#wa-row-ji4o23982jqw5s>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwgg {margin:0px 0px;}
#wa-row-ji4o23982jqwgg>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwls {margin:0px 0px;}
#wa-row-ji4o23982jqwls>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwr4 {margin:0px 0px;}
#wa-row-ji4o23982jqwr4>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwwg {margin:0px 0px;}
#wa-row-ji4o23982jqwwg>div {padding: 0px 0px;}
#wa-row-ji4o23989s6jk>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o23989s888>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ji4o23982jqw5s {margin:0px 0px;}
#wa-row-ji4o23982jqw5s>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwgg {margin:0px 0px;}
#wa-row-ji4o23982jqwgg>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwls {margin:0px 0px;}
#wa-row-ji4o23982jqwls>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwr4 {margin:0px 0px;}
#wa-row-ji4o23982jqwr4>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwwg {margin:0px 0px;}
#wa-row-ji4o23982jqwwg>div {padding: 0px 0px;}
#wa-row-ji4o23989s6jk>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o23989s888>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ji4o23982jqw5s {margin:0px 0px;}
#wa-row-ji4o23982jqw5s>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwgg {margin:0px 0px;}
#wa-row-ji4o23982jqwgg>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwls {margin:0px 0px;}
#wa-row-ji4o23982jqwls>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwr4 {margin:0px 0px;}
#wa-row-ji4o23982jqwr4>div {padding: 0px 0px;}
#wa-row-ji4o23982jqwwg {margin:0px 0px;}
#wa-row-ji4o23982jqwwg>div {padding: 0px 0px;}
#wa-row-ji4o23989s6jk>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o23989s888>.wa-item-rowspacer {height:50px;}
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
}
