#wa-compimage-jlocae5j430728 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#e0e0e0;}
#wa-compsubpage-k9t6c31a39drl4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#fc5c5e;background-color:#f8f8f8;padding:0px 0px 0px 0px;}
#wa-compsubpage-k9t6c31a39drl4>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-k9t6c31a39drl4>.wa-container-vspacer {height:0px;}
#wa-comptext-k9t6de486re4ts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-klsh1ix66rwgeo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-klsh1ix66rwgeo>.row>.clearfix {margin-bottom:0px;}
#wa-container-klsh1ix66rwgeo>.wa-container-vspacer {height:0px;}
#wa-container-klsh1ixb6rwcjs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-klsh1ixb6rwcjs>.row>.clearfix {margin-bottom:0px;}
#wa-container-klsh1ixb6rwcjs>.wa-container-vspacer {height:0px;}
#wa-form-main-k9t6dhiv6ts32o {border-width:1px;background-color:#f5f5f5; font-size:12px; border-color:#c0c0c0;}
#wa-form-main-k9t6dhiv6ts32o .btn-primary {font-family:Arial; background-color:#337ab7; color:#ffffff; border-color:#2e6da4;}
#wa-form-main-k9t6dhiv6ts32o .btn-primary:hover {background-color:#2e6da4;}
#wa-form-main-k9t6dhiv6ts32o .header {font-family:Arial; color:#000000; text-align:center; font-size:12px;}
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
#wa-row-k9t67t225vu5kg {margin:0px 0px;}
#wa-row-k9t67t225vu5kg>div {padding: 0px 0px;}
#wa-row-k9t67t235vu3cg {margin:0px 0px;}
#wa-row-k9t67t235vu3cg>div {padding: 0px 0px;}
#wa-row-k9t6adiu5oj9ns {margin:0px 0px;}
#wa-row-k9t6adiu5oj9ns>div {padding: 0px 0px;}
#wa-sub-container-klsh1ixb6rwh6g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-klsh1ixb6rwh6g>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-klsh1ixb6rwh6g>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu > li > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default {background-color:#f8f8f8; border-color:#f7f7f7; border-width:1px; border-radius:4px;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-brand, [id^=wa-compmenu-jlocacoo6ioa1s].navbar-nav li a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#777777;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#333333;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-nav > .open > a:focus {color:#777777; background-color:#e7e7e7;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-jlocacoo6ioa1s] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-jlocacoo6ioa1s].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
#wa-row-k9t67t225vu5kg {margin:0px 0px;}
#wa-row-k9t67t225vu5kg>div {padding: 0px 0px;}
#wa-row-k9t67t235vu3cg {margin:0px 0px;}
#wa-row-k9t67t235vu3cg>div {padding: 0px 0px;}
#wa-row-k9t6adiu5oj9ns {margin:0px 0px;}
#wa-row-k9t6adiu5oj9ns>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
#wa-row-k9t67t225vu5kg {margin:0px 0px;}
#wa-row-k9t67t225vu5kg>div {padding: 0px 0px;}
#wa-row-k9t67t235vu3cg {margin:0px 0px;}
#wa-row-k9t67t235vu3cg>div {padding: 0px 0px;}
#wa-row-k9t6adiu5oj9ns {margin:0px 0px;}
#wa-row-k9t6adiu5oj9ns>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ji4o239o2jqvv4 {margin:0px 0px;}
#wa-row-ji4o239o2jqvv4>div {padding: 0px 0px;}
#wa-row-k9t67t225vu5kg {margin:0px 0px;}
#wa-row-k9t67t225vu5kg>div {padding: 0px 0px;}
#wa-row-k9t67t235vu3cg {margin:0px 0px;}
#wa-row-k9t67t235vu3cg>div {padding: 0px 0px;}
#wa-row-k9t6adiu5oj9ns {margin:0px 0px;}
#wa-row-k9t6adiu5oj9ns>div {padding: 0px 0px;}
}
