#wa-compimage-jloc7b176c1di0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jloc7b186c1cvk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jloc7b186c1h8o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-jloc7b18433deg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b18433o6g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-jm7s0jiz4phfjk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-jm7s0jiz4phfjk>.row>.clearfix {margin-bottom:0px;}
#wa-container-jm7s0jiz4phfjk>.wa-container-vspacer {height:0px;}
#wa-row-ji4o2yu55eb1lc {margin:0px 0px;}
#wa-row-ji4o2yu55eb1lc>div {padding: 0px 0px;}
#wa-row-ji4o2yul5eb100 {margin:0px 0px;}
#wa-row-ji4o2yul5eb100>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ji4o2yu55eb1lc {margin:0px 0px;}
#wa-row-ji4o2yu55eb1lc>div {padding: 0px 0px;}
#wa-row-ji4o2yul5eb100 {margin:0px 0px;}
#wa-row-ji4o2yul5eb100>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ji4o2yu55eb1lc {margin:0px 0px;}
#wa-row-ji4o2yu55eb1lc>div {padding: 0px 0px;}
#wa-row-ji4o2yul5eb100 {margin:0px 0px;}
#wa-row-ji4o2yul5eb100>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ji4o2yu55eb1lc {margin:0px 0px;}
#wa-row-ji4o2yu55eb1lc>div {padding: 0px 0px;}
#wa-row-ji4o2yul5eb100 {margin:0px 0px;}
#wa-row-ji4o2yul5eb100>div {padding: 0px 0px;}
}
