#wa-compimage-jloc7b446c1cvk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jloc7b446c1jqg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-jloc7b446c1kcw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-comptext-jloc7b44433kl4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-jloc7b44433ls8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-ji4o2yrz5cnxr4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-ji4o2yrz5cnxr4>.row>.clearfix {margin-bottom:0px;}
#wa-container-ji4o2yrz5cnxr4>.wa-container-vspacer {height:0px;}
#wa-row-ji4o2yrz5eb2s0 {margin:0px 0px;}
#wa-row-ji4o2yrz5eb2s0>div {padding: 0px 0px;}
#wa-row-ji4o2yta5eb0pc {margin:0px 0px;}
#wa-row-ji4o2yta5eb0pc>div {padding: 0px 0px;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-ji4o2yrz5eb2s0 {margin:0px 0px;}
#wa-row-ji4o2yrz5eb2s0>div {padding: 0px 0px;}
#wa-row-ji4o2yta5eb0pc {margin:0px 0px;}
#wa-row-ji4o2yta5eb0pc>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-ji4o2yrz5eb2s0 {margin:0px 0px;}
#wa-row-ji4o2yrz5eb2s0>div {padding: 0px 0px;}
#wa-row-ji4o2yta5eb0pc {margin:0px 0px;}
#wa-row-ji4o2yta5eb0pc>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-ji4o2yrz5eb2s0 {margin:0px 0px;}
#wa-row-ji4o2yrz5eb2s0>div {padding: 0px 0px;}
#wa-row-ji4o2yta5eb0pc {margin:0px 0px;}
#wa-row-ji4o2yta5eb0pc>div {padding: 0px 0px;}
}
